.borde {
  border: 1px solid grey;
  border-collapse: collapse;
}
body{
  background-image:url("https://images.vexels.com/media/users/17482/103928/raw/b91e81ad1fd643c586ce2e9fd92fc913-diseno-de-papel-tapiz-ornamental-sutil-vintage.png");
  height: 500px;
}

.sombra {
  box-shadow: 5px 5px 5px lightgrey;
}

.marInt {
  padding: 0 5px 0 5px;
}

.alIzq {
  text-align: left;
}

.alCen {
  text-align: center;
}

.alDer {
  text-align: right;
}

.alJus {
  text-align: justify;
}

.selFila:hover {
  background-color: lightgrey;
}
p{
  font-size: 60;
  color: aliceblue;
}
